# Built application files & Gradle
*.iml
.gradle/
build/
/build-logic/convention/build/
/captures

# Native
.externalNativeBuild
.cxx

# Local configuration
local.properties

# IDE
.idea/

# OS
.DS_Store
